@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~antd/dist/antd.dark.css';
canvas {
    max-height: 100vh;
    min-height: 40vh;
}

/* 
OR

body { overflow: hidden; }

OR

div#responsible {
    overflow-y: hidden;
}

they prolly all work xd
*/